body {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1 {
  font-style: italic;
  font-size: 1.4em;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #000;
}

tr:last-child {
  border-bottom: none;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

td {
  border-right: 1px solid #333;
  text-align: center;
  padding: 0.5em;
}

td:last-child, td:first-child {
  border-right:none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    text-decoration: underline;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
    
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#nav {
  display: inline-block;
  width: 80%;
  margin: 0 0 3em 0;
  padding: 0;
  text-align: left;
  ul { list-style-type: none; }
  li { display: inline; float: left; }
  a {
    color: #000;
    text-decoration: none;
    display: block;
    width: 120px;
    &:visited {
      color: grey;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

#main {
  clear: both;
}